.ligne{
  border: black dashed 1px;
  width: 353px;
  margin: auto;
}


body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  background-color: #f1f1f163;
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}


/* MATIERES */
.titre_matiere{
  text-align: center;
  margin: auto;
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 3.5rem;
  font-weight: 300;
  height: 13vh;
}

/* 1 bloc */
.bloc_matiere1, .bloc_matiere2{
  display: flex;
  justify-content: center;
  gap: 100px;
}


/* pls */
.blocs_matiere{
  gap: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 84vh;
}


.matiere{
  text-align: center;
}

.img_calendrier{
  object-fit: contain;
  width: 208px; 
}

.matiere_autre{
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.matiere_contour{
  border-style : solid ;
  border-width : 10px ;
  border-image : linear-gradient(#381F31, #F29BAB, #BF88BC, #7977A6) 1;
}




/* ------- */

.bloc_accueil{
  background-image: url(./img/accueil_fond.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

} 



nav{
  display: flex;
  height: 72px;
  backdrop-filter: blur(500px);
  -moz-backdrop-filter: blur(500px);
  backdrop-filter: blur(500px);
}

.nav_bouton{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav_ul{
  display: flex;
  gap: 115px;
margin: auto;
padding-left: 0px;
}

.nav_ul a{
  color: white;
 text-align: center;
  margin: auto;
  text-decoration: none;
}

.nav_ul a:hover{
  text-decoration: underline;
}

.menu{
  display: none;
}


.bloc_titre_bouton{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 72vh;
  justify-content: center;
}

.boutons_cv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.boutons_telephone_cv{
  display: none;
}

.titre{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  gap: 20px;
}

.andrea{
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 6rem;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

 .f_enfant, .s_enfant, .t_enfant{
  font-size: 1.9rem;
  line-height: 40px
}



.bouton_cvvideo, .bouton_cv{
  border: solid 2px #603645;
  color: black;
  font-weight: 500;
  font-size: 2rem;
  border-radius: 25px;
  padding: 5px;
  text-decoration: none;
  transition: 0.3s;
}



/* pop up contact */
.contact{
  width: 5vw;
  float: right;
  bottom: 0;
  position: fixed;
  right: 10px;
  padding: 6px;
  cursor: pointer;
  min-width: 66px;
}

.contact:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.titre_contact{
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}

.bloc_contact{
  display: none;
  background-color: #7977A6;
  width: 22vw;
  border-radius: 25px;
  padding: 8px;
  color: white;
  right: 59px;
  float: right;
  bottom: 63px;
  position: fixed;
  line-height: 34px;
  min-width: 265px;
}

.lien_contact{
  color: white;
}

/* PROFIL */
.me_connaitre{
  border-bottom: #730606 4px solid;
  border-right:#730606 10px solid;
  border-left:#730606 10px solid;

}

.profil{
  display: flex;
  gap: 5px;
  justify-content: center;
}

.img_profil{
  object-fit: cover;
  width: 15.625vw;
  height: 15.625vw;
  border-radius: 111px;
  margin: auto;
}

.texte_mmi{
  display: flex;
  flex-direction: column;
  gap: 42px;
  height: 196px
}

.lien_matiere{
  border: solid 2px #730606;
  padding: 4px;
  color: black;
  font-weight: 599;
  font-size: 1.28rem;
  border-radius: 4px;

  transition: 0.3s;
}

.lien_matiere:hover{
  background-color: #730606 ;
  color: white;
}

.div_lien_matiere{
  text-align: center;
}


.texte_profil{
  width: 95%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 46px;
}

.avec_img{
  display: flex;
  gap: 46px;
}




/* SLIDER */
.slider {
  font-size: 1.25rem;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* l'ensemble du bloc des panels */
.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  margin-top: 42px;

}



/* bloc d'un panel */
.panel {
  display: flex;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), background 0.2s;
  background-size: cover;
  background-position: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.panel1 { background-image:url(./img/slider_passion3.JPG); }
.panel2 { background-image:url(./img/slider_creation.jpg); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(./img/slide_voyage.jpg); }
.panel5 { background-image:url(./img/slide_danse_retouche.jpg);
}

/* Flex Children */
/* border des écritures */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

/* différencier écriture du haut à celle du bas = permet de faire l'effet */
.panel > *:first-child { transform: translateY(-100%);}

.panel.open-active > *:first-child { transform: translateY(0);}

.panel > *:last-child { transform: translateY(100%);}

.panel.open-active > *:last-child { transform: translateY(0);}



/* grossi écriture titre */
.panel p:nth-child(2) {
  font-size: 3em;
}

.panel.open {
  /* la transition du 5temps */
  flex:5;
  /* change titre quand panel ouvert "d&terminer"... */
  font-size: 2.5rem;
}

/* mots couleur paneaux */
.animaux{
  color : #E12136FF;
  font-weight: 600;
}

.musique{
  color: #D6DAF8FF;
  font-weight: 600;
}

.audio{
  color:#565B5FFF;
  font-weight: 600;
}

.site{
  color: #FFF4E5FF;
   font-weight: 600;
}

.projet{
  color:#FFE9E9;
  font-weight: 600;
}

.sport{
  color: #463319FF;
  font-weight: 600;
}

.voyage{
  color:rgb(234, 241, 254);
  font-weight: 600;
}

.ouvert{
  font-weight: 600;
}

.ambi{
  font-weight: 600;
  color: rgb(255, 194, 80);
}

.ecoute{
  font-weight: 600;
  color: #4d4dec;
}

.slide_titre{
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
}



/* TRAVAUX */
.bloc_travaux{
  border-bottom: #BF88BC 4px solid;
  border-right: #BF88BC 10px solid;
  border-left: #BF88BC 10px solid;
}

.taille_video_interview, .taille_video_refont, .taille_motion{
  width: 40vw;
  height: 317px;
  min-width: 400px
}

.taille_video_mb{
  width: 21vw;
  height: 450px;
  min-width: 278px
}



.titre_travaux{
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-weight: 500;
  font-size: 7.5rem;
  padding-top: 29px;
  padding-left: 52px;

  /* dégarder */
  display: inline-block;
  background: linear-gradient(to right, #381F31, #F29BAB, #BF88BC, #7977A6 );
    background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 0.2px;
-webkit-text-stroke-color: black;
}



/* COMMUN */
.titre_bloc{
  font-weight: 300;
  padding-bottom: 10px;
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 23px;
}

.contexte_projet{
  text-align: center;
  margin-top: -25px;
  font-style: italic;
  font-size: 1.1rem;
}

.div_texte{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bouton{
  display: flex;
  justify-content: space-evenly;
}

.competence{
  padding: 7px;
  margin: auto;
  font-size: 1.66rem;
  font-weight: 800;

    -webkit-text-stroke: 0.1px;
  -webkit-text-stroke-color: black;
  color: #BF88BC;


}

.texte_motion, .texte_strat, .texte_disney, .texte_mbvideo, .texte_mbsite, .texte_interview{
  line-height: 28px;
}

.bloc_v1, .bloc_v2, .bloc_mbsite, .bloc_motion, .bloc_interview, .bloc_stratedi, .bloc_disney{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

.bloc_interview, .bloc_disney, .bloc_stratedi, .bloc_motion{
  flex-direction: row-reverse;
}


.texte_interview{
  width: 500px;
}

.texte_mbsite{
  width: 410px;
}

.texte_mbvideo{
  width: 560px;
}

.lien_video1, .lien_video2{
  justify-content: center;
  display: flex;
  align-items: center;
  border: solid 2px #BF88BC;
  padding: 4px;
  color: black;
  font-weight: 599;
  border-radius: 4px;
  transition: 0.3s;
  float: right;
}

.lien_video1{
  width: 272px;
}

.lien_video2{
  width: 191px;
}


.lien_video1:hover{
  background-color: #BF88BC;
}


.lien_video2:hover{
  background-color: #BF88BC;
}

.texte_motion{
  width: 391px;
}

.texte_strat{
  width: 549px;
}


.texte_linguavers{
  width: 421px;
}

.texte_disney{
  width: 472px;
}

.img_mbsite{
  width: 40vw;
  object-fit: contain;
  min-width: 426px;
  transition: transform .3s, box-shadow .3s;
}

.img_mbsite:hover{
  -ms-transform: scale(1.2); /* IE 9 */
-webkit-transform: scale(1.2); /* Safari 3-8 */
transform: scale(1.2);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}




.img_refuge_strat{
  width: 26vw;
  object-fit: contain;
  min-width: 261px;
  transition: transform .3s, box-shadow .3s;
}

.img_refuge_strat:hover{
  -ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.img_carre{
  width: 24vw;
  object-fit: contain;
  min-width: 260px;
  transition: transform .3s, box-shadow .3s;
}

.img_carre:hover{
  -ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


/* DIPLOME */
.bloc_diplome{
  border-right: #7977A6 10px solid;
  border-left: #7977A6 10px solid;
  border-bottom: #7977A6 10px solid;
}


.certification{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titre_certif{
  font-size: 2.4rem;
}

.soustitre_certif{
  font-weight: 300;
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 2.1rem;
}

.logo_certif{
  width: 7.1vw;
  padding-left: 34px;
  min-width: 75px;
}

.contenu_cert{
  border: #7977A6 solid 2px;
  border-radius: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  height: 119px;
  gap: 32px;

  transition: 0.3s;
}

.contenu_cert:hover{
  background-color: #7977A6 ;
  color: white;
}

.texte_cert{
  display: flex;
  flex-direction: column;
}



/* contact bas de page */
.final_contact{
  display: flex;
  background-color: #7977A6;
  flex-direction: column;
  gap: 54px;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.bloc1_final_contact{
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: 4.1rem;
  align-items: center;
  text-decoration: none;
}

.final_telephone{
  text-decoration: none;
  font-weight: 600;
}

.final_telephone:hover{
  display: inline-block;
background: linear-gradient(to right, white, #F29BAB, #BF88BC, white );
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

text-decoration: underline;
}


.final_bloc_bouton{
  display: flex;
  gap: 65px;
}

.final_bouton{
  font-size: 4.6rem;
  border: solid 2px white;
  font-weight: 500;
  border-radius: 25px;
  padding: 5px;
  transition: 0.3s;
  color: black;

  background: linear-gradient(to right, #fffc, #F29BABD1, #BF88BCBF, #ffffffe8 );
  text-decoration: none;
}

.final_bouton:hover{
  background:none;
  background-color: #7977A6;
  color: white;
  text-decoration: underline;
}




@media (max-width: 970px){
  body{
    font-size: 1.1rem;
  }
}


/* ACCUEIL */
@media (max-width: 1178px){
  .f_enfant, .s_enfant, .t_enfant {
    font-size: 1.8rem;
    line-height: 40px;
    margin-top: -10px;
  }

  .andrea {
    font-size: 6rem;
}

.nav_ul{
  gap: 70px;
}
}

@media (max-width: 924px){
  .nav_ul {
    gap: 50px;
  }

  .f_enfant, .s_enfant, .t_enfant {
    font-size: 1.66rem;
  }

  .andrea {
    font-size: 5.5rem;
  }
}


@media (max-width: 864px){
  .bloc_nav{
  display: block;
  }
/* menu */
   .boutons_cv{
    display: none;
  } 
  .nav_ul{
    flex-direction: column;
  }

  nav{
    height: 75vh;
    width: 100%;

    margin-left: -537%;

    transition: all 0.5s ease;

  /* SAFARI */
  -webkit-backdrop-filter: blur(35px);

  /* FIREFOX  */
  -moz-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
  margin-top: 27px;
  position: absolute;
  }


  .menu{
    display: flex;
    width: 27px;
    position: absolute;
    right: 20px;
    top: 40px;
    z-index: 3;

  }

  .mobile_menu{
    margin-left: 0;
  }

  .titre.hide_title {
    display: none;
  }


/* ------- */
  .bloc_accueil {
    background-image: url(./img/accueil_fondflou_telephone2.jpg);
    background-size: cover;
  }

  .titre{
    width: 97%;
  }
  .boutons_telephone_cv {
    display: flex;
    gap: 43px;
    justify-content: center;
    padding-top: 13px;
  }
  .bloc_titre_bouton{
    display: flex;
    flex-direction: column;
    gap: 60px;    
    align-items: center;
    width: 100%;
  } 
}




 @media (max-width: 667px){
  .f_enfant, .s_enfant, .t_enfant {
    font-size: 1.4rem;
  }

  .andrea {
    font-size: 5rem;
  }

  .nav_ul{
      font-size: 1.05rem;
      gap: 38px;
  }

  .bouton_cvvideo, .bouton_cv {
    font-size: 1.3rem;
  }
}


  /* telephone */
@media (max-width: 450px){
  .andrea{
    font-size: 4.5rem;
  }

}


/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/

/* PROFIL */
@media (max-width: 1206px){
  .texte_profil{
    font-size: 1.2rem;
  }
}

@media (max-width: 1134px){
  .img_profil{
    min-width: 178px;
    min-height: 178px;
  }

  .texte_profil{
    font-size: 1.1rem;
  }
}

@media (max-width: 1024px){
  .texte_profil{
    gap : 14
  }
}

@media (max-width: 917px){
  .texte_profil{
    flex-direction: column;
    gap: 20px;
  }

  .avec_img{
    gap: 22px;
  }

  .mmi_experience {
    margin-top: 12px;
  }

}

@media (max-width: 709px){
 .texte_profil{
    gap: 33px;
  }

  .mmi_experience {
    margin-top: 0px;
  }

  .texte_mmi{
    gap: 22px;
  }

}

@media (max-width: 634px){
  .texte_profil {
    font-size: 1rem;
  }
}

 @media (max-width: 691px){
  .avec_img {
    gap: 33px;
  }

  .img_profil {
    min-width: 160px;
    min-height: 160px;
  }

  .avec_img {
    gap: 17px;
  }
}

@media (max-width: 533px){
  .img_profil {
    min-width: 137px;
    min-height: 137px;
  }

  .lien_matiere{
    font-size: 1.1rem;
  }
}


/* ----------------------------------------------------------------------------------------------------------------------------*/

/* SLIDER */
@media (max-width: 1124px){
  .panel p:nth-child(2) {
    font-size: 2.2em;
  }
}


@media (max-width: 780px){
  .panels{
    flex-direction: column;
  } 

  .panel > *:first-child { transform: translateX(100%);}
  .panel.open-active > *:first-child { transform: translateX(0);}
  .panel > *:last-child {transform: translateX(100%);}
  .panel.open-active > *:last-child { transform: translateX(0);}

  .panel.open {
    padding: 72px;
  }
}






/* ----------------------------------------------------------------------------------------------------------------------------*/
/* TRAVAUX */
@media (max-width: 672px) {
body {
  font-size: 1.1rem;
}
}

/* titre */
@media (max-width: 1263px) {
  .titre_travaux{
  padding-left: 33px;
}
}

@media (max-width: 909px) {
  .titre_travaux {
    padding-left: 15px;
  }
}


/* bloc */
@media (max-width: 1211px){
  .bloc_v2, .bloc_stratedi, .bloc_disney{
    gap: 22px;
  }

  .bloc_mbsite{
    gap: 32px;
  }
}



@media (max-width: 1084px){
  body {
    font-size: 1.15rem;
  }

  .bloc_travaux {
    border: #BF88BC 7px solid;
  }

  .me_connaitre {
    border-bottom: #730606 5px solid;
    border-right: #730606 5px solid;
    border-left: #730606 5px solid;
  }

  .bloc_motion{
    gap: 30px;
  }
}


@media (max-width: 968px){
  .lien_video1{
    margin-right: 16px;
    width: 237px;
    padding: 1px;
    margin-top: 10px;
  }
}


@media (max-width: 975px){
.lien_video1{
  width: 248px;
}
}

@media (max-width: 862px){
  .bloc_titre_bouton {
    justify-content: space-evenly;
  }

}

/* téléphone */
@media (max-width: 926px){
.bloc_interview, .bloc_v2, .bloc_stratedi, .bloc_disney {
  flex-direction: column;
}

.bloc_mbsite, .bloc_motion, .bloc_v1{
  flex-direction: column-reverse;
}

  .bloc_interview, .bloc_mbsite, .bloc_v2, .bloc_motion, .bloc_v1, .bloc_stratedi, .bloc_disney{
    align-items: center;
    gap: 33px;
  }


  .competence{
    font-size: 1.5rem;
  }

  .titre_travaux{
    padding-top: 8px;
    font-size: 6.3rem;
  }

  .texte_mbvideo, .texte_interview, .texte_mbsite, .texte_strat, .texte_motion, .texte_linguavers, .texte_disney {
    width: 498px;
  }


}


@media (max-width: 642px){
  body{
    font-size: 1.1rem;
  }

  .titre_travaux {
    font-size: 6rem;
  }

  .bloc_travaux {
    border: #BF88BC 5px solid;
  }
}


@media (max-width: 548px){
  body{
    font-size: 1rem;
  }
}


/* téléphone */
@media (max-width: 589px){
  .bloc_travaux {
    border: #BF88BC 3px solid;
  }

  .titre_bloc{
    font-size: 2.8rem;
  }

  .contexte_projet{
    margin-top: -9px;
    font-size: 1rem;
  }

  .competence{
    font-size: 1.1rem;
  }

  .taille_video_interview, .taille_video_refont, .taille_motion{
    height: 228px;
    min-width: 303px;
  }

  .taille_video_mb{
    min-width: 269px;
   }

  .img_mbsite {
    min-width: 328px;
  }

  .img_mbsite:hover{
    -ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari 3-8 */
  transform: none;
  box-shadow: none;
  }

  .img_refuge_strat{
    min-width: 231px;
  }

  .img_refuge_strat:hover{
    -ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari 3-8 */
  transform: none;
  box-shadow: none;
  }

  .img_carre:hover{
    -ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari 3-8 */
  transform: none;
  box-shadow: none;
  }

  .texte_mbvideo, .texte_interview, .texte_mbsite, .texte_strat, .texte_motion, .texte_linguavers, .texte_disney{
    width: 327px;
    line-height: normal;
  }


  .ligne{
    width: 185px;
  }

  .titre_bloc{
    padding-bottom: 5px;
  }

  .titre_travaux{
    font-size: 5rem;
  }

  .bloc_interview, .bloc_mbsite, .bloc_v2, .bloc_motion, .bloc_v1, .bloc_stratedi, .bloc_disney{
    gap: 20px;
  }
}






/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* DIPLOME */
@media (max-width: 1172px){
  .titre_certif{
    font-size: 2.1rem;
  }
}

@media (max-width: 1172px){
  .titre_certif{
    font-size: 2rem;
  }
}

@media (max-width: 986px){
  .titre_certif{
    font-size: 1.8rem;
  }

  .logo_certif{
    padding-left: 22px;
  }
}

@media (max-width: 876px) {
  .titre_certif {
    font-size: 1.5rem;
  }

  .soustitre_certif{
    font-size: 1.9rem;
  }

  .logo_certif{
    min-width: 71px;
    padding-left: 17px;
  }

  .contenu_cert{
    gap: 18px;
  }
}

@media (max-width: 756px){
  .titre_certif {
    font-size: 1.5rem;
  }

  .soustitre_certif {
    font-size: 1.7rem;
  }
}

@media (max-width: 728px){
  .titre_certif {
    font-size: 1.3rem;
  }
}

@media (max-width: 735px){
  .titre_certif {
    font-size: 1.3rem;
  }

  .logo_certif{
    padding-left: 14px;
  }

  .contenu_cert{
    gap: 18px;
    height: 112px;
  }
}

@media (max-width: 656px){
  .titre_certif {
    font-size: 1.1rem;
  }

  .logo_certif {
    min-width: 67px;
  }
}

@media (max-width: 573px){
  .logo_certif {
    min-width: 60px;
    padding-left: 9px;
  }

  .contenu_cert {
    gap: 12px;
    height: 97px;
  }

  .titre_certif {
    font-size: 1rem;
  }

  .soustitre_certif {
    font-size: 1.6rem;
  }

}

@media (max-width: 514px){
.logo_certif {
  min-width: 53px;
  padding-left: 3px;
}

.contenu_cert {
  height: 78px;
}

.soustitre_certif {
  font-size: 1.4rem;
}

span{
  font-size: 0.9rem;
}

.contenu_cert {
  gap: 8px;
}

}

/* --------------------------------------------------------------------------------------------------------------------------- */

/* contact */
@media (max-width: 909px) {
  .bloc1_final_contact{
    font-size: 3.5rem;
  }
  .final_bouton {
    font-size: 4.2rem;
  }
}

@media (max-width: 792px) {
  .bloc1_final_contact{
    font-size: 3rem;
  }
  .final_bouton {
    font-size: 3.8rem;
  }

  .final_contact{
  height: 60vh;
  gap: 25px;
  }
}

@media (max-width: 691px) {
  .bloc1_final_contact{
    font-size: 2.7rem;
  }
  .final_bouton {
    font-size: 3.3rem;
  }
}

@media (max-width: 620px) {
  .bloc1_final_contact{
    font-size: 2.5rem;
  }
  .final_bouton {
    font-size: 3rem;
  }

  .final_contact{
    height: 50vh;
    }

}

@media (max-width: 571px) {
  .bloc1_final_contact{
    font-size: 2.2rem;
  }
  .final_bouton {
    font-size: 2.8rem;
  }

  .final_contact{
    height: 45vh;
    }

}

@media (max-width: 546px) {
.contact{
  min-width: 54px;
}
}


@media (max-width: 501px) {
  .bloc1_final_contact{
    font-size: 2rem;
  }
  .final_bouton {
    font-size: 2.5rem;
  }

  .final_contact{
    height: 40vh;
    }

}

@media (max-width: 450px) {
  .bloc1_final_contact{
    font-size: 1.5rem;
  }
  .final_bouton {
    font-size: 2rem;
  }

  .final_contact{
    height: 30vh;
    gap: 0px;
    }

}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* matière */
@media (max-width: 1239px) {
  .matiere_contour{
font-size: 1.2rem;
  }
}

@media (max-width: 1195px) {
  .matiere_contour{
    font-size: 1.1rem;
      }
}

@media (max-width: 1142px) {
 .bloc_matiere1{
  gap: 65px;
 }
}

@media (max-width: 1047px) {
  .bloc_matiere1{
   flex-direction: column;
   height: auto;
  }

  .titre_matiere{
    height: auto;
  }

.blocs_matiere{
  height: auto;
  gap: 32px;
}

 }

 @media (max-width: 967px) {
  .bloc_matiere2{
    justify-content: space-around;
    width: 100%;
    gap: 0px;
  }
}
  @media (max-width: 774px) {
    .img_calendrier{
      width: 174px;
    }
  }





  @media (max-width: 730px) {
 .bloc_matiere2 {
  flex-direction: column;
  align-items: center;
  gap: 50px;
}


.blocs_matiere{
  font-size: 1rem;
  gap: 4px;
}

.bloc_matiere1 {
  gap: 40px;
}

  }

  @media (max-width: 568px) {
    .titre_matiere {
      font-size: 3.5rem;
    }

     }

     @media (max-width: 477px) {
      .andrea {
        font-size: 4.4rem;
      }
     }


     @media (max-width: 450px) {
      .titre_matiere {
        font-size: 2.5rem;
      }

      .img_calendrier {
        width: 146px;
      }

      .bloc_img_matiere{
        display: flex;
        justify-content: center;
      }
       }

       @media (max-width: 320px) {
        .bloc_img_matiere{
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 20px;
        }
         }

 

