/* BOUTON

.lien_matiere{
  border: solid 2px #730606;
  padding: 4px;
  color: black;
  font-weight: 599;
  font-size: 1.28rem;
  border-radius: 4px;

  transition: 0.3s;
}

.lien_matiere:hover{
  background-color: #730606 ;
  color: white;
} */


.ligne{
  border: black dashed 1px;
  width: 353px;
  margin: auto;
}

main{
  background: linear-gradient(
    rgba(120, 107, 150, 0.10), 
    rgba(135, 113, 162, 0.10), 
    rgba(144, 114, 162, 0.10), 
    rgba(165, 121, 170, 0.10), 
    rgba(174, 120, 168, 0.10), 
    rgba(179, 117, 166, 0.10), 
    rgba(200, 126, 163, 0.10), 
    rgba(211, 127, 161, 0.10), 
    rgba(229, 152, 168, 0.10), 
    rgba(220, 172, 167, 0.10)
  );
  background-repeat: no-repeat;
  border: 5px solid;
  border-top: 0px;
  border-image: linear-gradient(#786B96, #8771A2, #9072A2, #A579AA, #AE78A8, #B375A6, #C87EA3, #D37FA1, #E598A8, #DCACA7);
  border-image-slice: 1;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem; 
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}


/* MATIERES */
.titre_matiere{
  text-align: center;
  margin: auto;
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 3rem;
  font-weight: 300;
  height: 13vh;
}

/* 1 bloc */
.bloc_matiere1, .bloc_matiere2{
  display: flex;
  justify-content: center;
  gap: 100px;
}


/* pls */
.blocs_matiere{
  gap: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 84vh;
}


.matiere{
  text-align: center;
}

.img_calendrier{
  object-fit: contain;
  width: 208px; 
}

.matiere_autre{
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.matiere_contour{
  background: linear-gradient(
    rgba(120, 107, 150, 0.10), 
    rgba(135, 113, 162, 0.10), 
    rgba(144, 114, 162, 0.10), 
    rgba(165, 121, 170, 0.10), 
    rgba(174, 120, 168, 0.10), 
    rgba(179, 117, 166, 0.10), 
    rgba(200, 126, 163, 0.10), 
    rgba(211, 127, 161, 0.10), 
    rgba(229, 152, 168, 0.10), 
    rgba(220, 172, 167, 0.10)
  );
  background-repeat: no-repeat;
  border: 5px solid;
  border-image: linear-gradient(#786B96, #8771A2, #9072A2, #A579AA, #AE78A8, #B375A6, #C87EA3, #D37FA1, #E598A8, #DCACA7);
  border-image-slice: 1;
}




/* ------- */

.bloc_accueil{
  background-image: url(./img/accueil_fond.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

} 



nav{
  display: flex;
  height: 72px;
  backdrop-filter: blur(500px);
  -moz-backdrop-filter: blur(500px);
  backdrop-filter: blur(500px);
}

.nav_bouton{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav_ul{
  display: flex;
  gap: 115px;
margin: auto;
padding-left: 0px;
}

.nav_ul a{
  color: white;
 text-align: center;
  margin: auto;
  text-decoration: none;
}

.nav_ul a:hover{
  text-decoration: underline;
}

.menu{
  display: none;
}


.bloc_titre_bouton{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 61vh;
  justify-content: center;
}


.titre{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  gap: 20px;
}

.andrea{
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 6rem;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

 .titre p{
  font-size: 1.9rem;
  line-height: 40px
}


/* pop up contact */
.contact{
  width: 5vw;
  float: right;
  bottom: 0;
  position: fixed;
  right: 10px;
  padding: 6px;
  cursor: pointer;
  min-width: 66px;
}

.contact:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.titre_contact{
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}

.bloc_contact{
  display: none;
  background-color: #7977A6;
  width: 22vw;
  border-radius: 25px;
  padding: 8px;
  color: white;
  right: 59px;
  float: right;
  bottom: 63px;
  position: fixed;
  line-height: 34px;
  min-width: 265px;
}

.lien_contact{
  color: white;
}

/* PROFIL */
.profil{
  display: flex;
  gap: 5px;
  justify-content: center;
}

.img_profil{
  object-fit: cover;
  width: 15.625vw;
  height: 15.625vw;
  border-radius: 111px;
  margin: auto;
}



.mmi_experience a{ 
  color:black ;
}

.mmi_experience a:hover{ 
  color: #7B6C99;
}


.texte_profil{
  width: 95%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 46px;
}

.avec_img{
  display: flex;
  gap: 46px;
  align-items: center;
}




/* SLIDER */
.slider {
  font-size: 1.25rem;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* l'ensemble du bloc des panels */
.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  margin-top: 42px;

}



/* bloc d'un panel */
.panel {
  display: flex;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), background 0.2s;
  background-size: cover;
  background-position: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.panel1 { background-image:url(./img/slider_passion3.jpg); }
.panel2 { background-image:url(./img/slider_creation.jpg); }
.panel3 { background-image:url(./img/slider_determiner.jpg); }
.panel4 { background-image:url(./img/slide_voyage.jpg); }
.panel5 { background-image:url(./img/slide_danse.jpg);
}

/* ouvert */
.panel1.open { background-image:url(./img/slider_passion3flt.jpg); }
.panel2.open { background-image:url(./img/slider_creationflt.jpg); }
.panel3.open { background-image:url(./img/slider_determinerflt.jpg); }
.panel4.open { background-image:url(./img/slide_voyageflt.jpg); }
.panel5.open { background-image:url(./img/slide_danseflt.jpg);
}

/* Flex Children */
/* border des écritures */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}


/* différencier écriture du haut à celle du bas = permet de faire l'effet */
.panel > *:first-child { transform: translateY(-100%);}

.panel.open-active > *:first-child { transform: translateY(0);}

.panel > *:last-child { transform: translateY(100%);}

.panel.open-active > *:last-child { transform: translateY(0);}



/* grossi écriture titre */
.panel p:nth-child(2) {
  font-size: 3em;
}

.panel.open {
  /* la transition du 5temps */
  flex:5;
  /* change titre quand panel ouvert "d&terminer"... */
  font-size: 2.5rem;

}


.slide_titre{
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  transition: transform .3s ;
}

.slide_titre:hover{
 text-decoration: underline;
}




/* TRAVAUX */
.taille_video_interview, .taille_video_refont, .taille_motion{
  width: 40vw;
  height: 317px;
  min-width: 400px
}



.titre_travaux{
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-weight: 500;
  font-size: 6.6rem;
  padding-top: 29px;
  padding-left: 52px;
  display: inline-block;
  -webkit-text-stroke: 0.2px;
-webkit-text-stroke-color: black;
color: #8971A2;
}



/* COMMUN */
/* --------------------------------------------------------------------------------------------------------------- */

/* TRIAGE */
.basline_reel{
  text-align: center;
  padding-top: 50px;
}

.div_filtre2{
  display: flex;
  gap: 10px;
}

#filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.filter-btn {
  padding: 10px 20px;
  border: 2px solid #7977A6;
  background-color: white;
  color: #7977A6;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-btn:hover {
  background-color: #7977A6;
  color: white;
}

.filter-btn.active {
  background-color: #7977A6;
  color: white;
}


.project {
  transition: opacity 0.3s, transform 0.3s;
}

.project.hidden {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* SLIDER */

.taille_video_slider{
  /* width: 21vw; */
  width: auto;
  height: 450px;
  /* min-width: 278px */
  display: block;
}


.titre_vdslider{
  font-weight: 200;
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 2rem;
 text-align: center;
}


.descr_vd_slider{
  text-align: center;
}


 .js-slider {
 overflow: hidden;
} 

.js-photos {
  display: flex;
  gap: 90px;
  position: relative;
  transition: left 0.6s ease-out;
  margin: auto;
}

.js-photos div{
  gap: 10px;
  display: flex;
  flex-direction: column;
}

/* classe no-anime ICI */
.no-anime {
  transition: none;
  /* On pourrait inscrire ici d'autres modifications si besoin */
}



.js-btn-decale-droite,
.js-btn-decale-gauche {
  position: absolute;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #A779AA;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-top: -255px;
  margin-left: 31px;
  margin-right: 30px;
}

.js-btn-decale-gauche {
  left: initial;
  right: 0;
}

.arrow {
  width: 6px;
  height: 6px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  transform: rotate(-45deg);
  position: relative;
  left: 1px;
}

.js-btn-decale-gauche .arrow {
  left: -1px;
  transform: rotate(135deg);
}













/* --------------------------------------------------------------------------------------------------------------- */


.titre_bloc{
  font-weight: 300;
  padding-bottom: 10px;
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 23px;
}

.contexte_projet{
  text-align: center;
  margin-top: -25px;
  font-style: italic;
  font-size: 1.1rem;
}

.contexte_sites{
  font-style: italic;
}


.bouton{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 8px;
}

.competence{
  padding: 7px;
  margin: auto;
  font-size: 1.66rem;
  font-weight: 800;
}

.competence1{
  -webkit-text-stroke: 0.6px;
  -webkit-text-stroke-color: #875C3C;
  color: #875C3C;
}

.competence2{
  -webkit-text-stroke: 0.6px;
  -webkit-text-stroke-color: #53503F;
  color: #53503F;
}

.competence4{
  -webkit-text-stroke: 0.6px;
  -webkit-text-stroke-color: #647F8C;
  color: #647F8C;
}


.competence5{
  -webkit-text-stroke: 0.6px;
  -webkit-text-stroke-color: #A37330;
  color: #A37330;
}

.competence6{
  -webkit-text-stroke: 0.6px;
  -webkit-text-stroke-color: #599863;
  color: #599863;
}

.competence7{
  -webkit-text-stroke: 0.6px;
  -webkit-text-stroke-color: #F46633;
  color: #F46633;
}

.competence8{
  -webkit-text-stroke: 0.6px;
  -webkit-text-stroke-color: #016127;
  color: #016127;
}

.lien_rosa a{
  color: black;
}

.lien_rosa a:hover{
  color: #627E8B;
}

.lien_scratch{
  color: black;
}

.lien_scratch:hover{
  color: #875C3C;
}

.lien_cms{
  color: black;
}

.lien_cms:hover{
  color: #53503F;
}


.lien_serein{
  color: black;
}

.lien_serein:hover{
  color: #006026;
}


.expo_liste a{
  color: black;
}

.expo_liste a:hover{
  color: #627E8B;
}


.lien_ent{
  color: black;
}

.lien_ent:hover{
  color: #A37330;
}


.lien_animal a{
  color: black;
}

.lien_animal a:hover{
  color: #599863;
}






.div_texte2{
  padding-right: 36px;
  padding-left: 2px;
}

.div_texte{
  padding-right: 2px;
  padding-left: 36px;
}

.bloc_img_texte, .bloc_mbsite, 
.bloc_img_texte2{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.bloc_img_texte2{
  flex-direction: row-reverse;
}

.bloc_dedbsite{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

}

.texte_sites{
  margin: auto;
  width: 90%;
}


.img_mbsite{
  width: 35vw;
  object-fit: contain;
  min-width: 426px;
  transition: transform .3s, box-shadow .3s;
}

.img_mbsite:hover{
  -ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}



.img_rosa_bonheur {
  width: 16vw;
  object-fit: contain;
  min-width: 157px;
  transition: transform .3s, box-shadow .3s;
}

.img_rosa_bonheur:hover{
  -ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.expo_liste{
  padding-left: 32px;
}


.img_ent{
  width: 35vw;
  object-fit: contain;
  min-width: 325px;
  transition: transform .3s, box-shadow .3s;
}

.img_ent:hover{
  -ms-transform: scale(1.05); /* IE 9 */
-webkit-transform: scale(1.05); /* Safari 3-8 */
transform: scale(1.05);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.liste_ent{
  padding-left: 25px;
}

.legende_ent{
  font-size: 1.05rem;
}

.div_img_legende{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* CERTIFICATIONS */
.bloc_certif{
background-color: rgba(218, 136, 164, 0.2);
}

 .lien_opquast{
text-decoration: none;
color: black;
} 



.certification{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titre_certif{
  font-size: 2rem;
}

.soustitre_certif{
  font-weight: 300;
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 1.8rem;
}

.logo_certif{
  width: 5.5vw;
  padding-left: 18px;
  min-width: 66px;
}

.contenu_cert{
  border: #7977A6 solid 2px;
  border-radius: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  height: 108px;
  gap: 32px;

  transition: 0.3s;
}

.contenu_cert:hover{
  background-color: #DD8DA580 ;
}

.texte_cert{
  display: flex;
  flex-direction: column;
}


/* header */
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type : none;
  text-align: center;
}

header h1{
  font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
  font-size: 3rem;
  font-weight: 300;
  color: #8971A2;
}

header a{
  color: black;
  text-decoration: none;
}

header a:hover{
  text-decoration: underline;
}



@media (max-width: 970px){
  body{
    font-size: 1.1rem;
  }
}


/* ACCUEIL */
@media (max-width: 1178px){
  .titre p{
    font-size: 1.8rem;
    line-height: 40px;
    margin-top: -10px;
  }

  .andrea {
    font-size: 6rem;
}

.nav_ul{
  gap: 70px;
}

}

@media (max-width: 924px){
  .nav_ul {
    gap: 50px;
  }

  .titre p {
    font-size: 1.66rem;
  }

  .andrea {
    font-size: 5.5rem;
  }
}


@media (max-width: 864px){
  .bloc_nav{
  display: block;
  }
/* menu */
  .nav_ul{
    flex-direction: column;
  }

  nav{
    height: 75vh;
    width: 100%;

    margin-left: -537%;

    transition: all 0.5s ease;

  /* SAFARI */
  -webkit-backdrop-filter: blur(35px);

  /* FIREFOX  */
  -moz-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
  margin-top: 27px;
  position: absolute;
  }


  .menu{
    display: flex;
    width: 27px;
    position: absolute;
    right: 20px;
    top: 40px;
    z-index: 3;

  }

  .mobile_menu{
    margin-left: 0;
  }

  .titre.hide_title {
    display: none;
  }




/* ------- */
  .bloc_accueil {
    background-image: url(./img/accueil_fondflou_telephone2.jpg);
    background-size: cover;
  }

  .titre{
    width: 97%;
  }

  .bloc_titre_bouton{
    display: flex;
    flex-direction: column;
    gap: 60px;    
    align-items: center;
    width: 100%;
  } 
}




 @media (max-width: 667px){
  .titre p {
    font-size: 1.4rem;
  }

  .andrea {
    font-size: 5rem;
  }

  .nav_ul{
      font-size: 1.05rem;
      gap: 38px;
  }

}
@media (max-width: 563px){
.legende_ent {
  font-size: 1rem;
}
}


  /* telephone */
@media (max-width: 450px){
  .andrea{
    font-size: 4rem;
  }

}



/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/

/* PROFIL */
@media (max-width: 1206px){
  .texte_profil{
    font-size: 1.2rem;
  }
}

@media (max-width: 1134px){
  .img_profil{
    min-width: 178px;
    min-height: 178px;
  }

  .texte_profil{
    font-size: 1.1rem;
  }
}

@media (max-width: 1024px){
  .texte_profil{
    gap : 14
  }
}

@media (max-width: 917px){
  .texte_profil{
    flex-direction: column;
    gap: 20px;
  }

  .avec_img{
    gap: 22px;
  }

  .mmi_experience {
    margin-top: 12px;
  }

}

@media (max-width: 709px){
 .texte_profil{
    gap: 33px;
  }

  .mmi_experience {
    margin-top: 0px;
  }

}

@media (max-width: 634px){
  .texte_profil {
    font-size: 1rem;
  }
}

 @media (max-width: 691px){
  .avec_img {
    gap: 33px;
  }

  .img_profil {
    min-width: 160px;
    min-height: 160px;
  }

  .avec_img {
    gap: 17px;
  }
}

@media (max-width: 533px){
  .img_profil {
    min-width: 137px;
    min-height: 137px;
  }

  .lien_matiere{
    font-size: 1.1rem;
  }
}


/* ----------------------------------------------------------------------------------------------------------------------------*/

/* SLIDER */
@media (max-width: 1124px){
  .panel p:nth-child(2) {
    font-size: 2.2em;
  }
}


@media (max-width: 780px){
  .panels{
    flex-direction: column;
  } 

  .panel > *:first-child { transform: translateX(100%);}
  .panel.open-active > *:first-child { transform: translateX(0);}
  .panel > *:last-child {transform: translateX(100%);}
  .panel.open-active > *:last-child { transform: translateX(0);}

  .panel.open {
    padding: 72px;
  }
}






/* ----------------------------------------------------------------------------------------------------------------------------*/
/* TRAVAUX */
@media (max-width: 672px) {
body {
  font-size: 1.1rem;
}
}

/* titre */
@media (max-width: 1263px) {
  .titre_travaux{
  padding-left: 33px;
}
}

@media (max-width: 909px) {
  .titre_travaux {
    padding-left: 15px;
  }
}


/* bloc */




@media (max-width: 1084px){
  body {
    font-size: 1.15rem;
  }

  .bloc_travaux {
    border: #BF88BC 7px solid;
  }

  .me_connaitre {
    border-bottom: #730606 5px solid;
    border-right: #730606 5px solid;
    border-left: #730606 5px solid;
  }

}






@media (max-width: 862px){
  .bloc_titre_bouton {
    justify-content: space-evenly;
  }

}

/* téléphone */
@media (max-width: 926px){
.bloc_img_texte2 {
  flex-direction: column;
}

.bloc_mbsite, .bloc_img_texte, .bloc_dedbsite{
  flex-direction: column-reverse;
}

  .bloc_mbsite, .bloc_img_texte,.bloc_img_texte2,.bloc_dedbsite {
    align-items: center;
    gap: 10px;
  }


  .competence{
    font-size: 1.5rem;
  }

  .titre_travaux{
    padding-top: 8px;
    font-size: 5.3rem;
  }

  .div_texte2, .div_texte{
    padding-right: 0px;
    padding-left: 0px;
  }

  .bloc_img_texte, .bloc_mbsite, .bloc_img_texte2 {
    width: 85%;
  }
  
}


@media (max-width: 642px){
  body{
    font-size: 1.1rem;
  }

  .titre_travaux {
    font-size: 4.8rem;
  }

  .bloc_travaux {
    border: #BF88BC 5px solid;
  }

 
}




@media (max-width: 548px){
  body{
    font-size: 1rem;
  }

  .bloc_img_texte, .bloc_mbsite, .bloc_img_texte2 {
    width: 90%;
  }
}



/* téléphone */
@media (max-width: 548px){
  #filter-buttons{
    flex-direction: column;
    gap: 5px;
  }
  
  .div_filtre2{
    gap: 5px;
  }
  
  .filter-btn{
    padding: 10px;
  }
  
  .bloc_mbsite{
    gap: 30px;
  }
  
  .taille_video_slider{
    height: 350px;
  }
  
  .js-photos{
    gap: 20px;
  }
  
  .titre_vdslider{
    font-size: 1.4rem;
  }
  
  .js-btn-decale-droite, .js-btn-decale-gauche{
    width: 25px;
    height: 30px;
    margin-top: -208px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  }
  

@media (max-width: 589px){
  .bloc_travaux {
    border: #BF88BC 3px solid;
  }

  .titre_bloc{
    font-size: 2.8rem;
  }

  .contexte_projet{
    margin-top: -9px;
    font-size: 1rem;
  }

  .competence{
    font-size: 1.1rem;
  }

  .taille_video_interview, .taille_video_refont, .taille_motion{
    height: 228px;
    min-width: 303px;
  }


  .img_mbsite {
    min-width: 328px;
  }

  .img_mbsite:hover{
    -ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari 3-8 */
  transform: none;
  box-shadow: none;
  }

  .img_refuge_strat{
    min-width: 231px;
  }

  .img_refuge_strat:hover{
    -ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari 3-8 */
  transform: none;
  box-shadow: none;
  }

  .img_carre:hover{
    -ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari 3-8 */
  transform: none;
  box-shadow: none;
  }

  .ligne{
    width: 185px;
  }

  .titre_bloc{
    padding-bottom: 5px;
  }

}

@media (max-width: 530px) {
  .titre_travaux {
    font-size: 3.8rem;
  }
}


@media (max-width: 568px){
  .titre_bloc{
    font-size: 2rem;
  }
}


/* ----------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------*/
/* DIPLOME */
@media (max-width: 1172px){
  .titre_certif{
    font-size: 2.1rem;
  }
}

@media (max-width: 1172px){
  .titre_certif{
    font-size: 2rem;
  }
}

@media (max-width: 986px){
  .titre_certif{
    font-size: 1.8rem;
  }

  .logo_certif{
    padding-left: 22px;
  }
}

@media (max-width: 876px) {
  .titre_certif {
    font-size: 1.5rem;
  }

  .soustitre_certif{
    font-size: 1.9rem;
  }

  .logo_certif{
    min-width: 71px;
    padding-left: 17px;
  }

  .contenu_cert{
    gap: 18px;
  }
}

@media (max-width: 756px){
  .titre_certif {
    font-size: 1.5rem;
  }

  .soustitre_certif {
    font-size: 1.7rem;
  }
}

@media (max-width: 728px){
  .titre_certif {
    font-size: 1.3rem;
  }
}

@media (max-width: 735px){
  .titre_certif {
    font-size: 1.3rem;
  }

  .logo_certif{
    padding-left: 14px;
  }

  .contenu_cert{
    gap: 18px;
    height: 112px;
  }
}

@media (max-width: 656px){
  .titre_certif {
    font-size: 1.1rem;
  }

  .logo_certif {
    min-width: 67px;
  }
}

@media (max-width: 573px){
  .logo_certif {
    min-width: 60px;
    padding-left: 9px;
  }

  .contenu_cert {
    gap: 12px;
    height: 97px;
  }

  .titre_certif {
    font-size: 1rem;
  }

  .soustitre_certif {
    font-size: 1.6rem;
  }

}

@media (max-width: 514px){
.logo_certif {
  min-width: 53px;
  padding-left: 3px;
}

.contenu_cert {
  height: 78px;
}

.soustitre_certif {
  font-size: 1.4rem;
}

span{
  font-size: 0.9rem;
}

.contenu_cert {
  gap: 8px;
}

}

@media (max-width: 396px) {
  .soustitre_certif {
    font-size: 1.1rem;
  }
}
/* --------------------------------------------------------------------------------------------------------------------------- */


/* matière */
@media (max-width: 1239px) {
  .matiere_contour{
font-size: 1.2rem;
  }
}

@media (max-width: 1195px) {
  .matiere_contour{
    font-size: 1.1rem;
      }
}

@media (max-width: 1142px) {
 .bloc_matiere1{
  gap: 65px;
 }
}

@media (max-width: 1047px) {
  .bloc_matiere1{
   flex-direction: column;
   height: auto;
  }

  .titre_matiere{
    height: auto;
  }

.blocs_matiere{
  height: auto;
  gap: 32px;
}

 }

 @media (max-width: 967px) {
  .bloc_matiere2{
    justify-content: space-around;
    width: 100%;
    gap: 0px;
  }
}
  @media (max-width: 774px) {
    .img_calendrier{
      width: 174px;
    }
  }





  @media (max-width: 730px) {
 .bloc_matiere2 {
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 27px;
}


.blocs_matiere{
  font-size: 1rem;
  gap: 4px;
}

.bloc_matiere1 {
  gap: 40px;
}

  }

  @media (max-width: 581px) {
    .titre_matiere {
      font-size: 2.6rem;
    }
     }


     @media (max-width: 502px) {
      .titre_matiere {
        font-size: 2.2rem;
      }
       }


     @media (max-width: 477px) {
      .andrea {
        font-size: 4.4rem;
      }
     }


     @media (max-width: 450px) {

      .img_calendrier {
        width: 146px;
      }

      .bloc_img_matiere{
        display: flex;
        justify-content: center;
      }
       }

       @media (max-width: 400px) {
        .titre_matiere {
          font-size: 1.9rem;
        }
         }
       
       @media (max-width: 320px) {
        .bloc_img_matiere{
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 20px;
        }
         }

 

         @media (max-width: 428px){
          .titre p {
            font-size: 1.2rem;
          }
          
          .andrea {
            font-size: 4rem;
          }
        }

        @media (max-width: 414px) {
          .andrea {
            font-size: 3.6rem;
          }

          .titre p {
            font-size: 1rem;
          }
        }

        @media (max-width: 356px) {
          .andrea {
            font-size: 3.3rem;
          }

          .titre p {
            font-size: 1rem;
          }
        }

/* HEADER */
@media (max-width: 777px){
  header h1{
    font-size: 2rem;
  }

  header a{
    text-decoration: underline;
  }
}


@media (max-width: 574px){
  header{
    flex-direction: column;
    gap: 25px;
  }
  
}

@media (max-width: 989px){
  header a{
    text-decoration: underline;
  }
  
}